# An√°lisis exploratorio del dataset

Specifically:  

  This data consists of unprocessed, unlabeled html files from the
  IMDb archive of the rec.arts.movies.reviews newsgroup,
  http://reviews.imdb.com/Reviews. The files in review_polarity.tar.gz
  represent a processed subset of these files.

In [53]:
import pandas as pd

In [54]:
df = pd.read_csv('../movie reviews/movie_review.csv')

In [55]:
df.head()

,fold_id,cv_tag,html_id,sent_id,text,tag
0,0,cv000,29590,0,films adapted from comic books have had plenty...,pos
1,0,cv000,29590,1,"for starters , it was created by alan moore ( ...",pos
2,0,cv000,29590,2,to say moore and campbell thoroughly researche...,pos
3,0,cv000,29590,3,"the book ( or "" graphic novel , "" if you will ...",pos
4,0,cv000,29590,4,"in other words , don't dismiss this film becau...",pos

In [56]:
df.isna().sum()

fold_id    0
cv_tag     0
html_id    0
sent_id    0
text       0
tag        0
dtype: int64

In [57]:
cant_positivos = df[df.tag == "pos"].shape[0]
cant_negativos = df[df.tag == "neg"].shape[0]

In [58]:
print('Positivos: ',cant_positivos, "\n Negativos: ", cant_negativos)

Positivos:  32937
 Negativos:  31783

In [59]:
print(df.iloc[0].text, 'TAG: ',df.iloc[0].tag)
print('--')
print(df.iloc[5].text, 'TAG: ', df.iloc[5].tag)
print('--')
print(df.iloc[-13].text, 'TAG: ', df.iloc[-13].tag)

films adapted from comic books have had plenty of success , whether they're about superheroes ( batman , superman , spawn ) , or geared toward kids ( casper ) or the arthouse crowd ( ghost world ) , but there's never really been a comic book like from hell before . TAG:  pos
--
if you can get past the whole comic book thing , you might find another stumbling block in from hell's directors , albert and allen hughes . TAG:  pos
--
the brothers literally run into ( or , rather , get run into , as in by car ) richard grieco of _21_jump_street_ fame , and through him they gain entrance into the exclusive roxbury club . TAG:  neg

In [60]:
df = df.drop(columns=['fold_id','cv_tag','html_id'])
df = df.drop(columns=['sent_id'])

Object ` pandas.DataFrame.replace()` not found.

In [73]:
df = df.replace('pos', 1)
df = df.replace('neg', 0)

/tmp/ipykernel_17064/3885426291.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('neg', 0)

In [75]:
df.to_csv('../movie reviews/dataset.csv')